/* 全体のデフォルトスタイル */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 30px;
    background-color: rgb(88, 197, 84);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* コンテナスタイル */
.container1,
.container2,
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* 映像要素のスタイル（4:3アスペクト比を維持） */
#output, #input {
    width: 100%;
    height: auto;
    max-height: calc(100vw * 3 / 4); /* 4:3アスペクト比を維持 */
    background-color: black;
    object-fit: contain; /* 映像のサイズと位置を適切に維持 */
}

/* ボタンスタイル */
button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start {
    background-color: magenta;
}

#stop {
    background-color: blue;
}
